**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.terraform*

*.jar
*.tgz
*.tar.xz
*.deb

__pycache__/

credentials/
app/scripts/data/raw/*.txt
app/scripts/data/tmp/*.zip
